.header {
    -fx-pref-height: 96px;
    -fx-background-color: #2c3e50;
    -fx-padding: 15 15;
}

.titulo-principal {
  -fx-text-aligment: CENTER;
   -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.nombre-usuario {
   -fx-font-weight: bold;
   -fx-text-fill: white;
   -fx-font-size: 12px;
}

.btn-cerrar {
   -fx-font-size: 13px;
   -fx-background-color: #E74C3C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 6 14;
    -fx-cursor: hand;
}

.card {
  -fx-pref-width: 190;
  -fx-pref-height: 140;
  -fx-alignment: center;
  -fx-background-color: #ffffff;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-padding: 12;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 6,0,0,2);
  -fx-cursor: hand;
}

.card:hover {
  -fx-translate-y: -4;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.16), 10,0,0,4);
}

.card-title {
  -fx-font-size: 12px;
  -fx-text-fill: #666666;
  -fx-font-weight: bold;
}

.card-count {
  -fx-font-size: 32px;
  -fx-font-weight: bold;
  -fx-text-fill: #2b7cff;
}

