.card {
  -fx-pref-width: 190;
  -fx-pref-height: 140;
  -fx-alignment: center;
  -fx-background-color: #ffffff;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-padding: 12;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 6,0,0,2);
  -fx-cursor: hand;
}

.header {
    -fx-background-color: #384e64;
    -fx-pref-height: 115px;
    -fx-padding: 10 20;
}

.titulo-principal {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.nombre-usuario {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.btn-cerrar {
    -fx-background-color: #E74C3C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 6 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.dashboard {
    -fx-background-color: #eef4f5;
    -fx-padding: 10;
    -fx-alignment: center;
}

.card-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-max-height: Infinity;
    -fx-cursor: hand;
}

.card-button:hover {
    -fx-background-color: #dfe6e9;
}

.card-label {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 8 0 0 0;
}

.card-count {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a3e42;
}
