#root {
    -fx-spacing: 8;
    -fx-alignment: center;
}

#btnEditar, #btnEliminar {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-padding: 4 10;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}

#btnEditar {
    -fx-text-fill: #4c6ef5;
}

#btnEliminar {
    -fx-text-fill: #E53935;
}
