.header {
    -fx-padding: 5 55 3 40;
}

.header-fondo {
    -fx-aligment: center;
}

.titulo-principal {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(6, 6, 6);
    -fx-alignment: center;
}

.nombre-usuario {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(4, 4, 4);
}

.btn-cerrar {
    -fx-background-color: #7a4f2e;
    -fx-text-fill: rgb(253, 252, 252);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 6 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-cerrar:hover {
    -fx-background-color: #a16b45;
}

.dashboard {
    -fx-background-color: #f7ece1;
    -fx-padding: 10;
    -fx-alignment: center;
}

.card-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-max-height: Infinity;
    -fx-cursor: hand;
}

.card-button:hover {
    -fx-background-color: #dfe6e9;
}

.card-label {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 8 0 0 0;
}

.card-count {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a3e42;
}
